<% include ../partials/header %>
            <div class="ui container">
                <header>
                    <h1>Menu</h1>
                </header>
                <div>
                    <h4>nieuw</h4>
                    <p>
                        Deze knoppen staan hier tijdelijk totdat accounts zijn geïmplementeerd <br>
                        Maak een nieuw gerecht <a href="/menu/gerechten/new"><button class="ui basic button">Klik hier</button></a><br>
                        Maak een nieuw drankje <a href="/menu/drinken/new"><button class="ui basic button">Klik hier</button></a>
                    </p>
                </div>
                <div class="ui stackable two column grid">
                    <div class="column">
                        <h2>Gerechten</h2>
                        <H3>Soepen</H3>
                        <% 
                            menu.soepen.forEach(soep => {
                                %>
                                <h4><%= soep.naamGerecht %></h4>
                                <label>€ <%= soep.prijs %></label>
                                <div class="sub header"><%= soep.beschrijving %></div>
                                <%
                            });
                        %>
                        <h3>Voorgerechten</h3>
                        <%
                            menu.voorgerechten.forEach(voorgerecht => {
                                %>
                                <h4><%= voorgerecht.naamGerecht %></h4>
                                <label>€ <%= voorgerecht.prijs %></label>
                                <div class="sub header"><%= voorgerecht.beschrijving %></div>
                                <%
                            });
                        %>
                        <h3>Hoofdgerechten</h3>
                        <%
                            menu.hoofdgerechten.forEach(hoofdgerecht => {
                                %>
                                <h4><%= hoofdgerecht.naamGerecht %></h4>
                                <label>€ <%= hoofdgerecht.prijs %></label>
                                <div class="sub header"><%= hoofdgerecht.beschrijving %></div>
                                <%
                            });
                        %>
                        <h3>Nagerechten</h3>
                        <%
                            menu.nagerechten.forEach(nagerecht => {
                                %>
                                <h4><%= nagerecht.naamGerecht %></h4>
                                <label>€ <%= nagerecht.prijs %></label>
                                <div class="sub header"><%= nagerecht.beschrijving %></div>
                                <%
                            });
                        %>
                    </div>
                    <div class="column">
                        <h2>Dranken</h2>
                        <h3>Wijn</h3>
                        <%
                        menu.wijnen.forEach(wijn => {
                            %>
                            <h4><%= wijn.naamDrinken %></h4>
                            <label>per glas: € <%= wijn.prijs %></label>
                            <label>per fles: € <%= wijn.wijnFlesPrijs %></label>
                            <div class="sub header"><%= wijn.beschrijving %></div>
                            <%
                        });
                        %>
                        <h3>Bier</h3>
                        <%
                        menu.bieren.forEach(bier => {
                            %>
                            <h4><%= bier.naamDrinken %></h4>
                            <label>€ <%= bier.prijs %></label>
                            <div class="sub header"><%= bier.beschrijving %></div>
                            <%
                        });
                        %>
                        <h3>Frisdrank</h3>
                        <%
                        menu.frisdranken.forEach(frisdrank => {
                            %>
                            <h4><%= frisdrank.naamDrinken %></h4>
                            <label>€ <%= frisdrank.prijs %></label>
                            <div class="sub header"><%= frisdrank.beschrijving %></div>
                            <%
                        });
                        %>
                        <h3>Koffie</h3>
                        <%
                        menu.koffies.forEach(koffie => {
                            %>
                            <h4><%= koffie.naamDrinken %></h4>
                            <label>€ <%= frisdrank.prijs %></label>
                            <div class="sub header"><%= frisdrank.beschrijving %></div>
                            <%
                        });
                        %>
                    </div>
                </div>
            </div>

<% include ../partials/footer %>