<% include ../partials/header %>

            <header>
                <h1>Menu</h1>
            </header>
            <div>
                <h4>nieuw</h4>
                <p>
                    Deze knoppen staan hier tijdelijk totdat accounts zijn geïmplementeerd <br>
                    Maak een nieuw gerecht <a href="/menu/gerechten/new"><button class="ui basic button">Klik hier</button></a><br>
                    Maak een nieuw drankje <a href="/menu/drinken/new"><button class="ui basic button">Klik hier</button></a>
                </p>
            </div>
            <div>
                <h2>Gerechten</h2>
                <H3>Soepen</H3>
                <% 
                menu.soepen.forEach(soep => {
                    %>
                        <h4><%= soep.naamGerecht %></h4>
                        <label>€ <%= soep.prijs %></label>
                    <%
                });
                %>
                <h3>Voorgerechten</h3>
                <%
                menu.voorgerechten.forEach(voorgerecht => {
                    %>
                        <h4><%= voorgerecht.naamGerecht %></h4>
                        <label>€ <%= voorgerecht.prijs %></label>
                    <%
                });
                %>
                <h3>Hoofdgerechten</h3>
                <%
                menu.hoofdgerechten.forEach(hoofdgerecht => {
                    %>
                        <h4><%= hoofdgerecht.naamGerecht %></h4>
                        <label>€ <%= hoofdgerecht.prijs %></label>
                    <%
                });
                %>
                <h3>Nagerechten</h3>
                <%
                menu.nagerechten.forEach(nagerecht => {
                    %>
                        <h4><%= nagerecht.naamGerecht %></h4>
                        <label>€ <%= nagerecht.prijs %></label>
                    <%
                });
                %>
                <h2>Dranken</h2>
                <h3>Wijn</h3>
                <%
                menu.wijnen.forEach(wijn => {
                    %>
                        <h4><%= wijn.naamDrinken %></h4>
                    <%
                });
                %>
                <h3>Bier</h3>
                <%
                menu.bieren.forEach(bier => {
                    %>
                        <h4><%= bier.naamDrinken %></h4>
                    <%
                });
                %>
                <h3>Frisdrank</h3>
                <%
                menu.frisdranken.forEach(frisdrank => {
                    %>
                        <h4><%= frisdrank.naamDrinken %></h4>
                    <%
                });
                %>
                <h3>Koffie</h3>
                <%
                menu.koffies.forEach(koffie => {
                    %>
                        <h4><%= koffie.naamDrinken %></h4>
                    <%
                });
                %>
            </div>

<% include ../partials/footer %>